
@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/droidsansmono/v14/6NUO8FuJNQ2MbkrZ5-J8lKFrp7pRef2rUGIW9g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    margin: 0;
    padding: 0;

    /*background-color: rgb(207, 199, 199);*/
    background-color: #f3f3f3;
}
/* Wrapper Div */
.main-body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding top set to leave space from navbar at top of page
    padding-top: 20%;
    */
    max-width: 1000px;
    padding: 50px 10px 100px 10px;
    margin: 2% auto auto auto;
    border: 5px solid black;
    border-radius: 10px 10px 80px 10px;
    background-color: rgb(207, 199, 199);
    /* Disable 'double-tap' zoom in mobile */
    /*touch-action: manipulation;*/
    box-shadow: 5px 5px 5px 5px black;
}

/* Battlefield/Canvas */
/*.screen-wrapper {
    margin: 2% 2% 0 2%;
    /*position: relative;*
    /*display: flex;
    justify-content: center;
    align-items: center;*
}*/
.canvas-wrapper {
    
    position: relative;
    /*display: block;*/
    /*justify-content: center;
    align-items: center;*/

    height: 800px;
    width: 800px;
    margin: 2% 2% 0 2%;
    /*padding: 5% 5% 0 5%;*/
    padding: 50px 50px 0 50px;
    border: 1px solid black;
    /*border-radius: 0 0 70px 0;*/
    background-color: black;

    font-family: Droid Sans Mono;
}
#battlefield {
    position: absolute;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    z-index: 0;
  }
.top-animation-screen {
    position: relative;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Droid Sans Mono;
    background-color: /*rgb(71, 68, 68)*/rgb(15, 15, 15);
    color: rgb(255, 0, 0);
    font-size: 100px;
    font-weight: bold;
    height: 400px;
    width: 800px;
    opacity: 1;
    z-index: 1;

}
.bottom-animation-screen {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    font-family: Droid Sans Mono;
    background-color: /*rgb(71, 68, 68)*/rgb(15, 15, 15);
    /*color: /*rgb(214, 19, 19);*rgb(82, 235, 82);
    font-size: 24px;*/
    font-weight: normal;
    margin-top: 200px;
    height: 200px;
    width: 800px;
    opacity: 1;
    z-index: 1;

}
#bottom-title-text {
    color: /*rgb(214, 19, 19);*/rgb(82, 235, 82);
    font-size: 24px;
}
.bottom-animation-left, .bottom-animation-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 140px;
    color: /*rgb(214, 19, 19);*//*rgb(82, 235, 82)*/white;
    font-size: 20px;
    text-align: center;
    background-color: rgb(119, 110, 110);
    border-radius: 30px;

}
.option-button-wrapper {
    position: relative;
    height: 100px;
    width: 140px;
}
#left-option-mouse, #right-option-mouse {
    position: absolute;
    border: none;
    visibility: visible;
    z-index: 2;
    cursor: pointer;
}
#left-option-touch, #right-option-touch {
    position: absolute;
    border: none;
    visibility: visible;
    z-index: 1;
    cursor: not-allowed;
}

/*
@keyframes colorShift {
    from { 
      color: black;
      border: 1px solid black;
      background-color: lightgreen;
      z-index: 1;
    }
    to {
      color : white;
      border: 1px solid white;
      background-color: rgba(144, 238, 144, 0);
      z-index: 3;
    }
}
*/

.scoreboard {
    position: absolute;
    z-index: 1;
    opacity: .6;
    width: /*650px*/800px;
    /*margin-left: 9%;*/
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
    font-family: Droid Sans Mono;
    font-weight: bolder;
    color: black;
    font-size: 24px;
    /*background-color: lightgreen;*/
    
}
#tanks-destroyed, #bosses-destroyed, #high-score {
    padding: 0 10px 0 10px;
    background-color: lightgreen;
    display: none;
}
#tanks-destroyed {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 0 0 10px;
}
#bosses-destroyed {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
#high-score {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 0 10px 0;
}

@keyframes fadeIn {
    from { 
      opacity:1;
    }
    to {
      opacity:0;
    }
}
@keyframes fadeOut {
    from { 
      opacity:0;
    }
    to {
      opacity:1;
    }
}
.battlefield-message {
    position: absolute;
    z-index: 2;
    opacity: /*1*/1;
    width: 800px;
    height: 800px;
    background-color: rgb(39, 37, 37);
    /*animation: fadeIn 1s ease-in;*/
    color: red;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-family: Droid Sans Mono;
}
.battlefield-cover {
    position: absolute;
    z-index: 3;
    visibility: visible;
    opacity: 0;
    width: 800px;
    height: 800px;
    background-color: white;

    background-image: url('./PauseButton.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}
.battlefield-cover-touch {
    position: absolute;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    width: 800px;
    height: 800px;
    background-color: white;

    background-image: url('./PauseButton.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;

    cursor: not-allowed;
}
/* ***** */

.lower-screen-row {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
    /*text-align: start;*/
    background-color: black;
    color: darkgrey;
    border: 1px solid black;
    border-radius: 0 0 80px 0;
    /*margin: 0 5% 0 5%;*/
    /*margin: 2% 2% 0 2%;*/
    /*padding: 1% 5% 4% 5%;*/
    padding: 5px 50px 50px 50px;
    /*z-index: 1;*/
}
.lower-screen-message {
    font-family: Droid Sans Mono;
    font-size: 36px;
    /*margin: 0 5% 4%;*/
    /*align-items: flex-start;*/
}
#lower-screen-right {
    font-size: 24px;
    color: rgb(82, 235, 82);
    /*color: rgb(17, 228, 243);*/
}



/* Mobile Gamepad */
.full-gamepad-wrapper {
    /*background-color: lightgrey;
    border: 3px solid black;
    border-radius: 50px;*/
    padding: 2%;
    margin: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}
.fire-button {
    /*position: relative;*/
    margin: 0 0 0 50px;
    /*padding: 0;*/
    width: 300px;
    height: 150px;
    background-color: indianred;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 50px;
    font-weight: bolder;
    font-family: Droid Sans Mono;
    /*border: 1px solid black;*/
    border-radius: 100px;

    box-shadow: 5px 5px 5px black;

    cursor: not-allowed;
}
.movement-button-wrapper {
    margin: 0 50px 0 0;
}
.gamepad-wrapper-up {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gamepad-wrapper-side {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    /*margin-bottom: 50%;*/

    /*width: 900px;*/
}

.gamepad-button {
    
    /*display: none;*/
    
    margin: auto;
    width: 150px;
    height: 150px;
    /*font-family: 'Work Sans';*/
    background-color: /*lightskyblue*/darkgrey;
    /*padding-top: 18px;*.
    /*margin-bottom: 21px;*/
    cursor: not-allowed;
    /*border: 1px solid black;
    border-radius: 30px;*/

    box-shadow: 5px 5px 5px black;
}

.gamepad-logo {
    background-image: url("./CenterCircle.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

    background-color: darkgrey;

    /*display: none;*/

    margin: auto;
    width: 150px;
    height: 150px;
    /*font-family: 'Work Sans';*/
    /*padding-top: 18px;*/
    font-size: 24px;
    /*margin-bottom: 21px;*/
    cursor: auto;
    box-shadow: 5px 5px 5px black;
}

/* **** 8/10/21 construction  **** */
/*
.full-gamepad-wrapper {
    background-color: lightgrey;
    border: 3px solid black;
    border-radius: 50px;
    padding: 2%;
    margin: 50px;
    display: flex;
    /*justify-content: center;*
    align-items: center;
    flex-direction: column;

}
.fire-button {
    /*position: relative;*
    margin: 0 5% 5% 5%;
    /*padding: 0;*
    width: 450px;
    height: 150px;
    background-color: indianred;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 50px;
    font-weight: bolder;
    font-family: Droid Sans Mono;
    border: 1px solid black;
    border-radius: 100px;

    box-shadow: 5px 5px 5px black;
}
.gamepad-wrapper-up {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gamepad-wrapper-side {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    /*margin-bottom: 50%;*

    /*width: 900px;*
} */
/* **** 8/10/21 construction  **** */


/*
#right-button, #left-button {
    margin: 15% 0 15% 0;
}
*/
#up-button {
    background-image: url("./ResizedUpButton.png");
    background-size: /*60%*/80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px 30px 0 0;
}
#left-button {
    background-image: url("./ResizedLeftButton.png");
    background-size: /*60%*/80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px 0 0 30px;
}
#right-button {
    background-image: url("./ResizedRightButton.png");
    background-size: /*60%*/80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 30px 30px 0;
}
#down-button {
    background-image: url("./ResizedDownButton.png");
    background-size: /*60%*/80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 30px 30px;
}
.gamepad-wrapper-down {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 277px;*/
}
/*
.gamepad-button {
    
    /*display: none;*
    
    margin: auto;
    width: 250px;
    height: 200px;
    /*font-family: 'Work Sans';*
    background-color: /*lightskyblue*darkgrey;
    padding-top: 18px;
    /*margin-bottom: 21px;*
    cursor: not-allowed;
    border: 1px solid black;
    border-radius: 30px;

    box-shadow: 3px 3px 3px black;
}
*/

@media screen and (min-width: 1025px) {
    .battlefield-cover {
        visibility: visible;
        z-index: 4;
    }
    .battlefield-cover-touch {
        visibility: hidden;
        z-index: 3;
    }
    #left-option-mouse, #right-option-mouse {
        z-index: 2;
    }
    #left-option-touch, #right-option-touch {
        z-index: 1;
    }
}

@media screen and (max-width: 1024px) and (min-height: 801px) {
    .main-body-wrapper {
        touch-action: none;
    }
    .battlefield-cover {
        visibility: hidden;
        z-index: 3;
    }
    .battlefield-cover-touch {
        visibility: visible;
        z-index: 4;
    }
    #left-option-mouse, #right-option-mouse {
        z-index: 1;
    }
    #left-option-touch, #right-option-touch {
        z-index: 2;
    }
}

/* doesn't work - needed for smaller height screens */
@media screen and (max-width: 1024px) and (max-height: 800px) {
    .main-body-wrapper {
        touch-action: none;
    }
    .battlefield-cover {
        visibility: hidden;
        z-index: 3;
    }
    .battlefield-cover-touch {
        visibility: visible;
        z-index: 4;
    }
    .full-gamepad-wrapper {
        margin: 20px 100px 100px 100px;
    }
} 
