
@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/droidsansmono/v14/6NUO8FuJNQ2MbkrZ5-J8lKFrp7pRef2rUGIW9g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
/* Wrapper Div */
.main-body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    padding: 50px 10px 100px 10px;
    margin: 1% auto auto auto;
    border: 5px solid black;
    border-radius: 10px 10px 80px 10px;
    background-color: rgb(207, 199, 199);
    /* Disable 'double-tap' zoom in mobile */
    /*touch-action: manipulation;*/
    box-shadow: 5px 5px 5px 5px black;
}

/* Battlefield/Canvas */
.canvas-wrapper {
    
    position: relative;
    height: 800px;
    width: 800px;
    margin: 2% 2% 0 2%;
    padding: 50px 50px 0 50px;
    border: 1px solid black;
    background-color: black;

    font-family: Droid Sans Mono;
}
#battlefield {
    position: absolute;
    z-index: 0;
  }
.top-animation-screen {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Droid Sans Mono;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 0, 0);
    font-size: 100px;
    font-weight: bold;
    height: 400px;
    width: 800px;
    opacity: 1;
    z-index: 1;

}
.bottom-animation-screen {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    font-family: Droid Sans Mono;
    background-color: rgb(15, 15, 15);
    font-weight: normal;
    margin-top: 200px;
    height: 200px;
    width: 800px;
    opacity: 1;
    z-index: 1;

}
#bottom-title-text {
    color: rgb(82, 235, 82);
    font-size: 24px;
}
.bottom-animation-left, .bottom-animation-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 140px;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: rgb(119, 110, 110);
    border-radius: 30px;

}
.option-button-wrapper {
    position: relative;
    height: 100px;
    width: 140px;
}
#left-option-mouse, #right-option-mouse {
    position: absolute;
    border: none;
    visibility: visible;
    z-index: 2;
    cursor: pointer;
}
#left-option-touch, #right-option-touch {
    position: absolute;
    border: none;
    visibility: visible;
    z-index: 1;
    cursor: not-allowed;
}

/* Scoreboard */
.scoreboard {
    position: absolute;
    z-index: 1;
    opacity: .6;
    width: 800px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
    font-family: Droid Sans Mono;
    font-weight: bolder;
    color: black;
    font-size: 24px;
    /*background-color: lightgreen;*/
    
}
#tanks-destroyed, #bosses-destroyed, #current-score, #high-score {
    padding: 0 10px 0 10px;
    background-color: lightgreen;
    display: none;
}
#tanks-destroyed {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 0 0 10px;
}
#bosses-destroyed {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 0 0 0;
}
#current-score {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
#high-score {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 0 10px 0;
}

@keyframes fadeIn {
    from { 
      opacity:1;
    }
    to {
      opacity:0;
    }
}
@keyframes fadeOut {
    from { 
      opacity:0;
    }
    to {
      opacity:1;
    }
}
.battlefield-message {
    position: absolute;
    z-index: 2;
    opacity: /*1*/1;
    width: 800px;
    height: 800px;
    background-color: rgb(39, 37, 37);
    color: red;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-family: Droid Sans Mono;
}
.battlefield-cover {
    position: absolute;
    z-index: 3;
    visibility: visible;
    opacity: 0;
    width: 800px;
    height: 800px;
    background-color: white;

    background-image: url('./PauseButton.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}
.battlefield-cover-touch {
    position: absolute;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    width: 800px;
    height: 800px;
    background-color: white;

    background-image: url('./PauseButton.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;

    cursor: not-allowed;
}
/* ***** */

.lower-screen-row {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: darkgrey;
    border: 1px solid black;
    border-radius: 0 0 80px 0;
    padding: 5px 50px 50px 50px;
    
}
.lower-screen-message {
    font-family: Droid Sans Mono;
    font-size: 36px;
}
#lower-screen-right {
    font-size: 24px;
    color: rgb(82, 235, 82);
}

/* Mobile Gamepad */
.full-gamepad-wrapper {
    
    padding: 2%;
    margin: 50px 50px 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}
.fire-button {
    
    margin: 0 0 0 50px;
    width: 300px;
    height: 150px;
    background-color: indianred;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    font-family: Droid Sans Mono;
    border-radius: 100px;
    box-shadow: 5px 5px 5px black;

    cursor: not-allowed;
}
.movement-button-wrapper {
    margin: 0 50px 0 0;
}
.gamepad-wrapper-up {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gamepad-wrapper-side {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
.gamepad-button { 
    margin: auto;
    width: 150px;
    height: 150px;
    background-color: darkgrey;
    cursor: not-allowed;
    box-shadow: 5px 5px 5px black;
}
.gamepad-logo {
    background-image: url("./CenterCircle.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: darkgrey;
    margin: auto;
    width: 150px;
    height: 150px;
    cursor: auto;
    box-shadow: 5px 5px 5px black;
}
#up-button {
    background-image: url("./ResizedUpButton.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px 30px 0 0;
}
#left-button {
    background-image: url("./ResizedLeftButton.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px 0 0 30px;
}
#right-button {
    background-image: url("./ResizedRightButton.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 30px 30px 0;
}
#down-button {
    background-image: url("./ResizedDownButton.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 30px 30px;
}
.gamepad-wrapper-down {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Keyboard Gamepad */
.full-keyboard-gamepad-wrapper {
    padding: 2%;
    margin: 100px;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
}
.keyboard-fire-button-wrapper {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#keyboard-controls-directions {
    height: 90px;
    width: 400px;
    margin: 0 50px 0 0;
    background-image: url("./Keyboard.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.fire-button-keyboard {
    margin: 0 50px 0 0;
    width: 400px;
    height: 100px;
    background-color: indianred;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    font-family: Droid Sans Mono;
    border-radius: 100px;
    box-shadow: 5px 5px 5px black;
    cursor: not-allowed;
}
.gamepad-button-keyboard {
    
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: darkgrey;
    cursor: not-allowed;
    box-shadow: 5px 5px 5px black;
}
#up-button-keyboard {
    background-image: url("./ResizedUpButton.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
#left-button-keyboard {
    background-image: url("./ResizedLeftButton.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 0 0 20px;
}
#right-button-keyboard {
    background-image: url("./ResizedRightButton.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 20px 20px 0;
}
#down-button-keyboard {
    background-image: url("./ResizedDownButton.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 1025px) {
    body {
        margin: auto;
        overflow: hidden;
        transform: scale(0.5) translate(0, -50%);
    }
    .main-body-wrapper {
        margin: 0 auto;
        /* Should limit Highlighting from mouse */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .battlefield-cover {
        visibility: visible;
        z-index: 4;
    }
    .battlefield-cover-touch {
        visibility: hidden;
        z-index: 3;
    }
    #left-option-mouse, #right-option-mouse {
        z-index: 2;
    }
    #left-option-touch, #right-option-touch {
        z-index: 1;
    }
    .full-gamepad-wrapper {
        display: none;
    }
    .full-keyboard-gamepad-wrapper {
        display: flex;
        margin: 30px 50px 0 50px;
    }
}

@media screen and (max-width: 1024px) {
    .main-body-wrapper {
        margin: 5px auto auto auto;
        touch-action: none;
        /* Should limit Highlighting from phone (along with touch-action: none)*/
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .battlefield-cover {
        visibility: hidden;
        z-index: 3;
    }
    .battlefield-cover-touch {
        visibility: visible;
        z-index: 4;
    }
    #left-option-mouse, #right-option-mouse {
        z-index: 1;
    }
    #left-option-touch, #right-option-touch {
        z-index: 2;
    }
    .full-gamepad-wrapper {
        display: flex;
        margin: 50px 50px 0 50px;
    }
    .full-keyboard-gamepad-wrapper {
        display: none;
    }
}

/* doesn't work - needed for smaller height screens */
/*
@media screen and (max-width: 1024px) and (max-height: 800px) {
    .main-body-wrapper {
        touch-action: none;
    }
    .battlefield-cover {
        visibility: hidden;
        z-index: 3;
    }
    .battlefield-cover-touch {
        visibility: visible;
        z-index: 4;
    }
    .full-gamepad-wrapper {
        margin: 20px 100px 100px 100px;
    }
} 
*/
